html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: chocolate;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.previous_passwords{
    margin-bottom: 20px;
    max-height: 10em;
    overflow-y: scroll;   

}
.container{
   height: 25em;
}

.body-container{
    background-color: burlywood;
}

#reset, #clear-history {
    float: right;
}
#reset{
    clear: both;
}